* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
}

/* --------------- Css Variables --------------- */

:root {
    --sp-blue: #0d6efd;
    --sp-indigo: #6610f2;
    --sp-purple: #6f42c1;
    --sp-pink: #d63384;
    --sp-red: #dc3545;
    --sp-orange: #fd7e14;
    --sp-yellow: #ffc107;
    --sp-green: #198754;
    --sp-teal: #20c997;
    --sp-cyan: #0dcaf0;
    --sp-black: #000;
    --sp-white: #fff;
    --sp-gray: #6c757d;
    --sp-gray-dark: #343a40;
    --sp-gray-100: #f8f9fa;
    --sp-gray-200: #e9ecef;
    --sp-gray-300: #dee2e6;
    --sp-gray-400: #ced4da;
    --sp-gray-500: #adb5bd;
    --sp-gray-600: #6c757d;
    --sp-gray-700: #495057;
    --sp-gray-800: #343a40;
    --sp-gray-900: #212529;
    --sp-primary: #0d6efd;
    --sp-secondary: #6c757d;
    --sp-success: #198754;
    --sp-info: #0dcaf0;
    --sp-warning: #ffc107;
    --sp-danger: #dc3545;
    --sp-light: #f8f9fa;
    --sp-dark: #212529;
    --sp-primary-rgb: 13, 110, 253;
    --sp-secondary-rgb: 108, 117, 125;
    --sp-success-rgb: 25, 135, 84;
    --sp-info-rgb: 13, 202, 240;
    --sp-warning-rgb: 255, 193, 7;
    --sp-danger-rgb: 220, 53, 69;
    --sp-light-rgb: 248, 249, 250;
    --sp-dark-rgb: 33, 37, 41;
    --sp-white-rgb: 255, 255, 255;
    --sp-black-rgb: 0, 0, 0;
    --sp-body-color-rgb: 33, 37, 41;
    --sp-body-bg-rgb: 255, 255, 255;
    --sp-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sp-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --sp-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
    --sp-body-font-family: var(--bs-font-sans-serif);
    --sp-body-font-fira: "Fira Sans", sans-serif;
    --sp-body-font-size: 1rem;
    --sp-body-font-weight: 400;
    --sp-body-line-height: 1.5;
    --sp-body-color: #212529;
    --sp-body-bg: #fff;
    --sp-border-width: 1px;
    --sp-border-style: solid;
    --sp-border-color: #dee2e6;
    --sp-border-color-translucent: rgba(0, 0, 0, 0.175);
    --sp-border-radius: 0.375rem;
    --sp-border-radius-sm: 0.25rem;
    --sp-border-radius-lg: 0.5rem;
    --sp-border-radius-xl: 1rem;
    --sp-border-radius-2xl: 2rem;
    --sp-border-radius-pill: 50rem;
    --sp-text-size-medium: 16px;
    --sp-heading-color: ;
    --sp-link-color: #0d6efd;
    --sp-link-hover-color: #0a58ca;
    --sp-code-color: #d63384;
    --sp-highlight-bg: #fff3cd;
    /* cols */
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
    /* cols */
}

body,
html {
    font-family: var(--sp-body-font-fira);
    font-size: var(--sp-text-size-medium);
}

.container {
    margin: auto;
    width: 100%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

/* --------------- Css Variables --------------- */

/* --------------- Call center --------------- */

.header-wrapper .row {
    padding: 5px 0;
}

.header-wrapper ion-icon,
.text-border,
.header-wrapper i {
    color: #fff;
    margin-right: 5px;
}

.header-wrapper a,
li {
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
}

/* --------------- Call center --------------- */

/* --------------- Header --------------- */

.header-wrapper {
    position: relative;
    background: #079c20;
}

/* --------------- Header --------------- */

/* --------------- Navbar --------------- */

nav {
    padding: 20px 0;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
    width: 100%;
    position: relative;
}

nav .logo {
    font-size: 30px;
    color: #000;
    font-weight: 500;
}

nav ul li a {
    font-weight: 400;
    font-family: Inter;
    color: #000;
    transition: .2s;
    font-weight: bold;
}

nav ul li a:hover ion-icon,
nav ul li a:hover {
    color: #007220;
    font-size: 21px;
}

.mockup-image {
    display: none;
}

nav ul li a ion-icon {
    color: #000;
    margin-right: 10px;
}

.btn-success {
    padding: 15px 20px;
    background: -webkit-linear-gradient(#007220, #079c20);
    border-radius: 8px;
    color: #fff;
    line-height: 1;
    border: none;
    transition: .3s;
}

.btn-success:hover {
    cursor: pointer;
    box-shadow: 3px 4px 8px 0px #0472239a;
}

/* --------------- Glass Effect --------------- */

.sp-glass {
    width: 600px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}

section .container {
    position: relative;
}


section .sp-section-banner {
    position: absolute;
    top: 120px;
    left: 0;
}

section .sp-section-title .sp-section-span {
    background: -webkit-linear-gradient(#007220, #079c20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .sp-section-banner .sp-section-title {
    color: #fff;
    width: 500px;
    font-size: 45px;
    font-weight: 500;
}

.toggle {
    cursor: pointer;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-toggle {
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    background: #000;
    border-radius: 5px;
    transition: all .6s;
}

.line-toggle:first-child {
    transform: translateY(-10px) translateX(-10px);
    width: 20px;
    transition-delay: 0s;
}

.toggle .line-toggle:nth-child(2) {
    transition-delay: .12s;
}

.line-toggle:last-child {
    transform: translateY(10px) translateX(-10px);
    width: 20px;
    transition-delay: 0s;
}

.toggle.activate .line-toggle:first-child {
    background: #000;
    transform: translateY(0) translateX(0) rotate(45deg);
    width: 30px;
    height: 3px;
    transition-delay: .1s;
}

.toggle.activate .line-toggle:nth-child(2) {
    transform: translateX(110px);
    transition-delay: 0s;
}

.toggle.activate .line-toggle:last-child {
    background: #000;
    transform: translateY(0) translateX(0) rotate(314deg);
    width: 30px;
    height: 3px;
    transition-delay: .1s;
}


.sp-section-title,
.sp-section-text,
.sp-section-banner-btn {
    padding: 0 30px;
}

section .sp-section-banner .sp-section-text {
    font-size: 15px;
    font-family: Inter;
    line-height: 27px;
    color: #fff;
    width: 400px;
    margin-top: 30px;
}

.sp-toggle-menu{
    background: #fff;
    width: 100%;
    height: 0vh;
    position: absolute;
    padding: 0 -57px;
    z-index: 22;
    top: 87px;
    right: 0;
    border-top: 1px solid #0b22394b;
    transition: all .2s cubic-bezier(0.248, 0.276, 0.826, -0.278) 0ms !important;
    overflow: hidden;
}

.sp-toggle-menu ul,
.sp-toggle-menu .btn{
}

.btn-toggle-nav{
    margin-left: auto;
}

.btn-toggle-nav{
    margin-top: 50px;
    padding: 15px 45px;
}

.br-nav-toggle{
    border-bottom: 1px solid #0b22397c;
    margin-top: 40px;
}

.hide-toggle{
    height: 40vh;
}

.nav-btn{
    display: none;
}

.nav-toggle-ul .nav-toggle-li{
    font-size: 25px;
    color: #000;
    margin: 20px 0;
    transition: .3s;
    width: 300px;
    cursor: pointer;
}

.nav-toggle-ul .nav-toggle-li .nav-toggle-a,
.nav-toggle-ul .nav-toggle-li .nav-toggle-a ion-icon:hover ,  .nav-toggle-ul .nav-toggle-li .nav-toggle-a ion-icon{
    font-size: 25px;
}

#particles-js {
    height: 100vh;
}

section .sp-section-banner-btn :first-child {
    margin-right: 20px;
}

.btn-outline {
    padding: 13.5px 30px;
    background: none;
    border-radius: 8px;
    color: #00ca22;
    border: 1.5px solid #007220;
    transition: .3s;
}

.btn-outline:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(#007220, #079c20);
    color: #fff;
    box-shadow: 3px 4px 8px 0px #02641ea1;
}

/* --------------- Mockup Images --------------- */

.mockup-image {
    position: absolute;
    top: 180px;
    right: 0;
}

/* --------------- Tabled --------------- */

.mockup-image .tabled {
    position: absolute;
    right: 0;
    width: 700px;
}

.mockup-image .tabled img {
    width: 730px;
}

.mockup-image .tabled .bg-sp {
    position: absolute;
    top: 10px;
    right: 52px;
    width: 215px;
    height: 300px;
    background: url(../javascripts/animationJS/images/Website\ template.png);
    background-position: top;
    background-size: 100%;
    border-radius: 3px;
    animation: 22s animatedweb infinite linear;
}

/* --------------- Laptop --------------- */

.mockup-image .lap {
    position: absolute;
    right: 0;
    width: 700px;
}

.mockup-image .lap img {
    width: 700px;
}

.mockup-image .lap .bg-sp {
    position: absolute;
    top: 50px;
    right: 246px;
    width: 393px;
    height: 249px;
    background: url(../javascripts/animationJS/images/Burger-Website.png);
    background-position: top;
    background-size: 100%;
    border-radius: 2px;
    animation: 30s animatedweb infinite linear;
}

/* --------------- Phone --------------- */

.mockup-image .phone {
    position: absolute;
    right: 0;
    width: 700px;
}

.mockup-image{
    top: 600px;
    right: 100px;
}
.lap{
    display: none;
}

.mockup-image .lap img,
.mockup-image .tabled img,
.mockup-image .phone img {
    width: 700px;
    position: absolute;
}

.mockup-image .phone .bg-sp {
    position: absolute;
    top: 154px;
    right: 11px;
    width: 86px;
    height: 184px;
    background: url(../javascripts/animationJS/images/Burger-Pizza.png);
    background-position: top;
    background-size: 100%;
    border-radius: 4px;
    animation: 10s animatedweb infinite linear;
}

@keyframes animatedweb {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

@keyframes animateWeb {
    0% {
        background-position: top;
    }

    25% {
        background-position: center;
    }

    50% {
        background-position: bottom;
    }

    75% {
        background-position: center;
    }

    100% {
        background-position: top;
    }
}

/* --------------- Submenu --------------- */

@keyframes aniamte {
    0% {
        position: absolute;
        top: 220px;
        right: 0;
    }

    50% {
        position: absolute;
        top: 200px;
        right: 0;
    }

    100% {
        position: absolute;
        top: 220px;
        right: 0;
    }
}

/* --------------- Toggle Window --------------- */

.sp-toggle-window {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    backdrop-filter: blur(20px);
    user-select: fill;
    padding: 30px 0;
    transition: .5s;
}

.hide-menu {
    transform: scale(0);
}

.header-section-content {
    position: relative;
}

.sp-toggle-window .toggle-window ul li {
    line-height: 1.8em;
    transition: all 300ms linear;
}

.sp-toggle-window .toggle-window ul li:hover {
    transform: translateX(10px);
}

.sp-toggle-window .toggle-window ul li a {
    color: #fff;
    font-weight: 400;
}

.sp-toggle-window .toggle-window h2 {
    background: -webkit-linear-gradient(#008d28, #079c20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 0;
    font-size: 25px;
}

.sp-border {
    width: 100%;
    height: 1px;
    background: var(--sp-white);
    margin: 80px 0;
}

#chevronDown {
    transition: .5s;
}

.chevron-down {
    transform: rotate(180deg);
}

.card {
    width: 280px;
    cursor: pointer;
    transition: .3s;
    margin: 30px 20px;
}

.cards .row {
    justify-content: space-between;
    justify-content: center;
}
main .card-title{
    font-size: 30px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    text-align: center;
    font-size: 50px;
    padding: 100px 0;
}

.card-title .header-title-span {
    background: -webkit-linear-gradient(#007220, #079c20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card h4 {
    position: relative;
    display: block;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 0;
    background: linear-gradient(45deg, #007220, #079c20) !important;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

main {
    background-color: #f5f5f5;
    z-index: 2;
}


.card h3 {
    font-size: 35px;
    color: #0B2239;
    font-weight: 600;
    background: transparent;
    padding: 45px 0 45px;
    border-bottom: 1px solid #0b223936;
    line-height: 0.8;
    padding-bottom: 80px;
    text-align: center;
}

.card h3 .card-price {
    background: -webkit-linear-gradient(#007220, #079c20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card h3 .card-pr {
    color: #3e3e3e;
    font-size: 19px;
    font-weight: 500;
}

.card .btn-success {
    font-weight: 600;
    cursor: pointer;
    padding: 15px 50px;
}

.card .table-footer {
    text-align: center;
    background: transparent;
    padding-top: 50px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* --------------- Responsive Full Header--------------- */

/* x-small devices */
/* no media this is always transparent–ê */
/* x-small devices */

/* small devices */

@media (max-width: 575px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .sp-section-title {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
        width: 740px;
    }
    

    .col-1 {
        width: var(--col-1);
    }

    .col-2 {
        width: var(--col-2);
    }

    .col-3 {
        width: var(--col-3);
    }

    .col-4 {
        width: var(--col-4);
    }

    .col-5 {
        width: var(--col-5);
    }

    .col-6 {
        width: var(--col-6);
    }

    .col-7 {
        width: var(--col-7);
    }

    .col-8 {
        width: var(--col-8);
    }

    .col-9 {
        width: var(--col-9);
    }

    .col-10 {
        width: var(--col-10);
    }

    .col-11 {
        width: var(--col-11);
    }

    .col-12 {
        width: var(--col-12);
    }
}

.nav-ul{
    display: none;
}

/* small devices */
/* medium devices */

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        width: 890px;
    }

    main .card-title{
        font-size: 50px;
    }
    

    .mockup-image{
        top: 180px;
        right: 0;
    }

    .card-title {
        font-size: 40px;
    }

    .header-wrapper .contact ion-icon,
    .text-border,
    .header-wrapper .contact i {
        color: #fff;
        margin-right: 5px;
        font-size: 14px;
    }

    .header-wrapper .col-8 ul li span {
        margin-right: 10px;
    }

    .header-wrapper .contact a,
    .contact li {
        margin-right: 7px;
        color: #fff;
        font-size: 14px;
    }

    .col-3 {
        width: calc(100% / 12 * 4);
    }


    #particles-js {
        height: 140vh;
    }
 
    .sp-nav-menu{
        display: block;
    }

    section .sp-section-banner .sp-section-title{
        font-size: 60px;
        width: 680px;
    }
    
    section .sp-section-banner .sp-section-text{
        font-size: 20px;
        width: 600px;
        margin-bottom: 30px;
        font-weight: 400;
    }

}

/* medium devices */
/* large devices */

@media (min-width: 992px) {
    .container {
        max-width: 100%;
        width: 960px;
    }

    .nav-btn{
        display: block;
    }


    .nav-ul{
        display: block;
        display: flex;
    }

    .nav-ul li{
        font-size: 20px;
    }

    .sp-nav-menu{
        display: none;
    }

    .card-title {
        font-size: 50px;
    }

    .lap {
        display: none;
    }

    .tabled,
    .phone {
        display: block;
    }

    .col-3 {
        width: calc(100% / 12 * 4);
    }

    .sp-section-banner .sp-section-title {
        text-align: start;
    }

    .sp-section-banner .sp-section-text {
        text-align: start;
        margin: 0;
    }

    #particles-js {
        height: 100vh;
    }

    .sp-section-banner .sp-section-banner-btn {
        text-align: start;
    }

    .mockup-image {
        display: block;
    }

    .header-wrapper .contact ion-icon,
    .text-border,
    .header-wrapper .contact i {
        color: #fff;
        margin-right: 10px;
        font-size: 14px;
    }
}

/* large devices */
/* x-large devices */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: 1140px;
    }

    .lap {
        display: none;
    }

    .tabled,
    .phone {
        display: block;
    }

    .mockup-image{
        right: 100px;
    }

    .col-3 {
        width: calc(100% / 12 * 3);
    }
}

/* x-large devices */
/* xx-large devices */

@media (min-width: 1400px) {
    .container {
        max-width: 100%;
        width: 1320px;
    }

    .mockup-image{
        right: 0;
    }

    .lap,
    .tabled {
        display: block;
    }

    .col-3 {
        width: calc(100% / 12 * 3);
    }
}

/* xx-large devices */

/* --------------- Responsive Full Header--------------- */

/* Media Breakpoints use
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px 
*/