* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
}

/* --------------- Css Variables --------------- */

:root {
    --sp-blue: #0d6efd;
    --sp-indigo: #6610f2;
    --sp-purple: #6f42c1;
    --sp-pink: #d63384;
    --sp-red: #dc3545;
    --sp-orange: #fd7e14;
    --sp-yellow: #ffc107;
    --sp-green: #198754;
    --sp-teal: #20c997;
    --sp-cyan: #0dcaf0;
    --sp-black: #000;
    --sp-white: #fff;
    --sp-gray: #6c757d;
    --main-color: red;
    --main-color-dark: #a30000;
    --second-color: #131620;
    --third-color: #ec7a7a;
    --link-color: rgb(0, 123, 255);
    --text-color: #1d1d1f;
    --main-font: 'Inter''sans-serif';
    --title-font: 'Montserrat''sans-serif';
    --sp-gray-dark: #343a40;
    --sp-gray-100: #f8f9fa;
    --sp-gray-200: #e9ecef;
    --sp-gray-300: #dee2e6;
    --sp-gray-400: #ced4da;
    --sp-gray-500: #adb5bd;
    --sp-gray-600: #6c757d;
    --sp-gray-700: #495057;
    --sp-gray-800: #343a40;
    --sp-gray-900: #212529;
    --sp-primary: #0d6efd;
    --sp-secondary: #6c757d;
    --sp-success: #198754;
    --sp-info: #0dcaf0;
    --sp-warning: #ffc107;
    --sp-danger: #dc3545;
    --sp-light: #f8f9fa;
    --sp-dark: #212529;
    --sp-primary-rgb: 13, 110, 253;
    --sp-secondary-rgb: 108, 117, 125;
    --sp-success-rgb: 25, 135, 84;
    --sp-info-rgb: 13, 202, 240;
    --sp-warning-rgb: 255, 193, 7;
    --sp-danger-rgb: 220, 53, 69;
    --sp-light-rgb: 248, 249, 250;
    --sp-dark-rgb: 33, 37, 41;
    --sp-white-rgb: 255, 255, 255;
    --sp-black-rgb: 0, 0, 0;
    --sp-body-color-rgb: 33, 37, 41;
    --sp-body-bg-rgb: 255, 255, 255;
    --sp-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sp-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --sp-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --sp-body-font-family: var(--bs-font-sans-serif);
    --sp-body-font-fira: 'Fira Sans', sans-serif;
    --sp-body-font-size: 1rem;
    --sp-body-font-weight: 400;
    --sp-body-line-height: 1.5;
    --sp-body-color: #212529;
    --sp-body-bg: #fff;
    --sp-border-width: 1px;
    --sp-border-style: solid;
    --sp-border-color: #dee2e6;
    --sp-border-color-translucent: rgba(0, 0, 0, 0.175);
    --sp-border-radius: 0.375rem;
    --sp-border-radius-sm: 0.25rem;
    --sp-border-radius-lg: 0.5rem;
    --sp-border-radius-xl: 1rem;
    --sp-border-radius-2xl: 2rem;
    --sp-border-radius-pill: 50rem;
    --sp-text-size-small: 14px;
    --sp-text-size-medium: 16px;
    --sp-text-size-medium-small: 25px;
    --sp-text-size-large: 35px;
    --sp-heading-color: ;
    --sp-link-color: #0d6efd;
    --sp-link-hover-color: #0a58ca;
    --sp-code-color: #d63384;
    --sp-highlight-bg: #fff3cd;
    --sp-wrapper: #131620;
    --sp-bg-btn-success: #057518;
    --sp-btn-success: #079c20;
    --sp-nav-link: #22dd41;
    /* cols */
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
    /* cols */
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

body::-webkit-scrollbar {
    width: 5px;
    background: silver;
}

body::-webkit-scrollbar-thumb {
    background: var(--sp-btn-success);
    border-radius: 10px;
}

::selection {
    background: var(--sp-btn-success);
    color: white;
}

body,
html {
    font-family: var(--sp-body-font-fira);
    font-size: var(--sp-text-size-medium);
}

.container {
    margin: auto;
    width: 100%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 25px;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.btn-success:hover {
    background: var(--sp-bg-btn-success);
    box-shadow: inset 30px 30px 30px 30px var(--sp-bg-btn-success);
}

.btn-success {
    background: var(--sp-btn-success);
    color: white;
}

.bg-success {
    background: var(--sp-btn-success) !important;
    color: white !important;
}

.py-3 {
    padding: 60px 0;
}

.py-4 {
    padding: 100px 0;
}

/* --------------- Css Variables --------------- */

/* --------------- Call center --------------- */

.header-wrapper {
    padding: 10px 0;
    /* background: #0F2027; */
    background: #131620;
}

.header-wrapper li,
.header-wrapper i,
.header-wrapper .text-border,
.header-wrapper a {
    color: var(--sp-white);
    font-size: var(--sp-text-size-small);
}

.header-wrapper li span {
    padding: 0 8px;
}

.language a {
    padding: 0 5px;
}

.navbar {
    background: #191C26;
    padding: 10px 0;
}

.navbar-brand {
    color: var(--sp-white);
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.navbar-catalog ul li {
    border-bottom: 1.5px solid transparent;
    position: relative;
    overflow: hidden;
}

.navbar-catalog ul li::before,
.navbar-catalog ul li::after {
    content: "";
    width: 0%;
    height: 1.5px;
    background: var(--sp-nav-link);
    transition: all 300ms ease-in;
    position: absolute;
}

.navbar-catalog ul li::before {
    bottom: 0;
    right: 50%;
}

.navbar-catalog ul li::after {
    bottom: 0;
    left: 50%;
}

.navbar-catalog ul li:hover::after,
.navbar-catalog ul li:hover::before {
    width: 50%;
}

.navbar-catalog ul li a {
    color: var(--sp-white);
    font-size: var(--sp-text-size-small);
    padding: 10px;
}

.navbar-catalog ul li:hover a {
    color: var(--sp-nav-link);
}

.navbar-catalog ul li a.active {
    color: var(--sp-nav-link);
}

.navbar-catalog ul li:first-child ion-icon {
    padding: 0 5px;
}

.navbar-catalog .btn-success {
    margin-left: 7px;
}

.header-area-content {
    position: absolute;
    width: 100%;
}

.btn-group {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 0;
}

#particles-js {
    position: relative;
    height: 100vh;
}

body {
    height: 500vh;
}

.top-bar {
    top: 37px !important;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
}

.header-area-content .col-5 {
    position: relative;
    padding-bottom: 45px;
}

.header-area-content .col-5 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 125%;
    color: #FFFFFF !important;
    margin-bottom: 25px;
    font-family: var(--title-font);
}

.header-area-content .col-5 h2 span {
    background: -webkit-linear-gradient(var(--sp-bg-btn-success), var(--sp-btn-success));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-area-content .col-5 p {
    color: var(--sp-white);
    font-size: var(--sp-text-size-medium);
    line-height: 1.8em;
    margin: 0 0 20px;
}

.header-area-content .col-5 .phone-link {
    color: var(--sp-btn-success);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-style: dashed;
    font-size: var(--sp-text-size-medium);
}

/* --------------- Call center --------------- */

.sp-submenu {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100vh;
    z-index: 1111;
    backdrop-filter: blur(20px);
    user-select: fill;
    transition: all 0.15s linear;
}

.menu-scroller {
    background: var(--sp-white);
}

.header-effect-submenu {
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
}

.sp-submenu ul li {
    line-height: 2.5em;
    transition: all 300ms linear;
    position: relative;
}

.sp-submenu ul li::after {
    content: "";
    width: 0%;
    height: 1.5px;
    background: var(--sp-nav-link);
    transition: all 300ms ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sp-submenu ul li:hover::after {
    width: 100%;
}

.bar-lists {
    color: var(--sp-black) !important;
}

.sp-submenu ul li a {
    color: var(--sp-white);
    font-weight: 400;
}

.sp-submenu .col-4 h2,
.sp-submenu .col-3 h2 {
    color: var(--sp-btn-success);
    font-weight: 700;
    font-size: var(--sp-text-size-medium-small);
    padding: 15px 0;
}

.sp-border {
    width: 100%;
    height: 1px;
    background: var(--sp-white);
    margin: 80px 0;
}

.btn-light {
    background: #ffffff1f;
    color: var(--sp-white);
}

.bg-black {
    background: #00000040;
}

/* 
.btn-light:hover {
    background: #ffffff3a !important;
} */

.toggle-menu {
    transform: scale(0);
}

.to-up {
    transform: rotate(180deg);
}

.order-menu {
    max-width: 100%;
    width: 450px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1111;
}

.order-menu form {
    padding: 20px 15px;
}

.order-menu form h2 {
    color: var(--sp-btn-success);
    font-size: 25px;
}

.order-menu form .d-flex {
    margin-bottom: 20px;
}

.order-menu form .d-flex #close-menu {
    font-size: 25px;
}

.order-menu form textarea {
    height: 80px;
    resize: none;
}

textarea,
input {
    display: block;
    border: 1px solid #dfdce6;
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px;
    color: #17305e;
    font-size: 20px;
}

textarea:focus,
input:focus {
    border: 1px solid var(--sp-btn-success);
}

.mb-4 {
    margin-bottom: 20px;
}


.mockup-image {
    width: 100%;
    min-height: 400px;
    position: relative;
}

.mockup-image .phone,
.mockup-image .lap,
.mockup-image .tabled {
    position: absolute;
}

.mockup-image .lap {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    min-height: 252px;
}

.mockup-image .lap::after {
    content: "";
    position: absolute;
    background: url("../assets/public/images/Burger-Website.png");
    height: 190px;
    width: 310px;
    left: 10.3%;
    top: 20px;
    background-position: top;
    background-size: 100%;
    animation: animate 30s linear infinite;
}

.mockup-image img {
    width: 100%;
}

.mockup-image .tabled {
    width: 200px;
    top: 0;
    left: 50%;
    min-height: 274px;
}

.mockup-image .lap img,
.mockup-image .phone img,
.mockup-image .tabled img {
    position: absolute;
}

.mockup-image .tabled::after {
    content: "";
    position: absolute;
    background: url("../assets/public/images/Website\ template.png");
    height: 243px;
    width: 170px;
    left: 16px;
    top: 10px;
    background-position: top;
    background-size: 100%;
    border-radius: 5px;
    animation: animate 22s linear infinite;
}

.mockup-image .lap {
    width: 400px;
}

.mockup-image .phone {
    width: 100px;
    bottom: 30px;
    right: 70px;
    min-height: 182px;
}

.mockup-image .phone::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 12px;
    background: url("../assets/public/images/Burger-Pizza.png");
    background-position: top;
    background-size: 100%;
    width: 78px;
    height: 165px;
    border-radius: 4px;
    animation: animate 10s linear infinite;
}


@keyframes animate {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }

    100% {
        background-position: top;
    }
}

.header-area-content .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --------------- Responsive Full Header--------------- */

/* x-small devices */
/* no media this is always transparent–ê */
/* x-small devices */

/* small devices */
@media (max-width: 575px) {
    .header-area-content .col-sm-9 {
        display: none;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
        width: 100%;
    }

    .header-area-content .container,
    .header-area-content {
        height: 100%;
    }

    .header-area-content .row {
        align-items: center;
        justify-content: center;
    }

    .header-area-content .col-sm-9 {
        width: var(--col-9);
    }
}

@media (max-width: 767px) {

    .navbar .row {
        position: relative;
    }

    .navbar-submenu {
        position: absolute;
        top: 45px;
        left: 100%;
        transform: translateX(-100%);
        width: 100%;
        background: var(--sp-white);
        height: 0;
        overflow: hidden;
        transition: all 300ms linear;
    }

    .navbar-submenu .btn {
        margin-top: 35px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .active {
        height: 30vh;
    }

    .navbar-submenu a {
        color: var(--sp-black) !important;
    }

    .navbar-submenu ul {
        padding: 20px 15px;
        flex-direction: column;
        align-items: flex-start;
    }


    #menu-outline {
        display: flex;
        color: var(--sp-white);
        font-size: var(--sp-text-size-large);
    }

    .menu-outline {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .row .col-8 .call-collapse {
        overflow: hidden;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 30vh;
        left: 0;
    }

    .row .col-8 .call-collapse ul.d-flex {
        flex-direction: column;
    }

    .call {
        color: var(--sp-white);
        font-size: 24px;
    }
}

/* small devices */
/* medium devices */

@media (min-width: 768px) {
    #menu-outline {
        display: none;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    .header-area-content .col-sm-12 {
        width: var(--col-12);
        margin-bottom: 40px;
    }

    .justify-between-md {
        justify-content: center;
    }

    .col-1 {
        width: var(--col-1);
    }

    .col-2 {
        width: var(--col-2);
    }

    .col-3 {
        width: var(--col-3);
    }

    .col-4 {
        width: var(--col-4);
    }

    .col-5 {
        width: var(--col-5);
    }

    .col-6 {
        width: var(--col-6);
    }

    .col-7 {
        width: var(--col-7);
    }

    .col-8 {
        width: var(--col-8);
    }

    .col-9 {
        width: var(--col-9);
    }

    .col-10 {
        width: var(--col-10);
    }

    .col-11 {
        width: var(--col-11);
    }

    .col-12 {
        width: var(--col-12);
    }
}

/* medium devices */
/* large devices */

@media (min-width: 992px) {
    .container {
        max-width: 100%;
        width: 100%;
    }

    .justify-between-md {
        justify-content: space-between;
    }

    .mockup-image {
        width: 100%;
        min-height: 400px;
        position: relative;
    }

    .mockup-image .phone,
    .mockup-image .lap,
    .mockup-image .tabled {
        position: absolute;
    }

    .mockup-image .lap {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        min-height: 252px;
    }

    .mockup-image .lap::after {
        content: "";
        position: absolute;
        background: url("../assets/public/images/Burger-Website.png");
        height: 190px;
        width: 310px;
        left: 10.3%;
        top: 20px;
        background-position: top;
        background-size: 100%;
        animation: animate 30s linear infinite;
    }

    .mockup-image img {
        width: 100%;
    }

    .mockup-image .tabled {
        width: 200px;
        top: 0;
        left: 50%;
        min-height: 274px;
    }

    .mockup-image .lap img,
    .mockup-image .phone img,
    .mockup-image .tabled img {
        position: absolute;
    }

    .mockup-image .tabled::after {
        content: "";
        position: absolute;
        background: url("../assets/public/images/Website\ template.png");
        height: 243px;
        width: 170px;
        left: 16px;
        top: 10px;
        background-position: top;
        background-size: 100%;
        border-radius: 5px;
        animation: animate 22s linear infinite;
    }

    .mockup-image .lap {
        width: 400px;
    }

    .mockup-image .phone {
        width: 100px;
        bottom: 30px;
        right: 70px;
        min-height: 182px;
    }

    .mockup-image .phone::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 12px;
        background: url("../assets/public/images/Burger-Pizza.png");
        background-position: top;
        background-size: 100%;
        width: 78px;
        height: 165px;
        border-radius: 4px;
        animation: animate 10s linear infinite;
    }

}

/* large devices */
/* x-large devices */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: 100%;
    }

    .header-area-content .row {
        flex-direction: row;
    }

    .header-area-content .col-sm-12 {
        width: var(--col-5);
    }

    .header-area-content .col-sm-9 {
        width: var(--col-6);
    }
}

/* x-large devices */
/* xx-large devices */

@media (min-width: 1400px) {
    .container {
        max-width: 100%;
        width: 1320px;
    }
}

/* xx-large devices */

/* --------------- Responsive Full Header--------------- */

/* Media Breakpoints use
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px 
*/